# Login methods 
oauth: true
password: true


# Templates (relative to assets/ directory)
template:
    login: _login.twig
    password: _password.twig
    button: _button.twig

# Frontend role to assign to logged in visitor. 
#
# Is only relevant when 'frontend_permission_checks' is set to true in config.yml
# and the role exists in permissions.yml
#role: social

# Enabled OpenID providers
# Options are dependent on the values for HybridAuth
providers:

    Google:
        label: Google account
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"

    Facebook:
        label: Facebook connect
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"
        scope: "email"

    Twitter:
        label: Twitter sign in
        enabled: true
        keys:
            key: "*** your KEY here ***"
            secret: "*** your secret here ***"

    GitHub:
        label: Github account
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"
       
    # MyOpenIdProvider:
    #     type: OpenID
    #     label: MyOpenIdProvider account
    #     enabled: true
    #     openid_identifier: "http://openid.example.org"
        

# The basepath for the extension's routes. Do not include the leading slash ('/')
# This path determines the location used to log in or out, like '/clientlogin/login'
basepath: oauth

# Enabling debug_made will make this extension write out a logfile to {BOLT_CACHE_DIR}/authenticate.log.
# Note: This file wil get huge, quickly!
debug_mode: false

