{% set feedback = clientlogin.feedback.getfeedback() %}

{% if feedback.debug|default(null) %}
<strong><em>Debug Messages:</em></strong>
<ol>
	{% for message in feedback.debug %}
	    <li>{{ message }}</li>
	{% endfor %}
</ol>
{% endif %}

{% if feedback.error|default(null) %}
<strong><em>Error Messages:</em></strong>
<ol>
	{% for message in feedback.error %}
	    <li>{{ message }}</li>
	{% endfor %}
</ol>
{% endif %}

{% if feedback.message|default(null) %}
<strong><em>Informational Messages:</em></strong>
<ol>
	{% for message in feedback.message %}
	    <li>{{ message }}</li>
	{% endfor %}
</ol>
{% endif %}
